name: Quality

on:
  pull_request:
    branches:
      - main

permissions: {}

defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint

    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup PNPM
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install dependencies
        run: pnpm install

      - name: Run lint
        run: pnpm lint

  format:
    name: Format

    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup PNPM
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install dependencies
        run: pnpm install

      - name: Run format
        run: pnpm format

  type:
    name: TypeScript

    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup PNPM
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install dependencies
        run: pnpm install

      - name: Run typecheck
        run: pnpm typecheck

  # e2e:
  #   name: E2E Test

  #   runs-on: ubuntu-latest
  #   timeout-minutes: 15
  #   permissions:
  #     contents: read

  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v6

  #     - name: Setup Java
  #       uses: actions/setup-java@v5
  #       with:
  #         distribution: temurin
  #         java-version: 25

  #     - name: Setup PNPM
  #       uses: pnpm/action-setup@v4

  #     - name: Setup Node.js
  #       uses: actions/setup-node@v6
  #       with:
  #         node-version: 24

  #     - name: Install dependencies
  #       run: pnpm install

  #     - name: Install Playwright Browsers
  #       run: pnpm exec playwright install --with-deps

  #     - name: Install firebase-tools
  #       run: pnpm install -g firebase-tools

  #     - name: Run test
  #       run: pnpm test

  #     - name: Upload report
  #       uses: actions/upload-artifact@v4
  #       with:
  #         name: playwright-report
  #         path: playwright-report/
  #         retention-days: 30
